@charset "UTF-8";
html {
  font-size: 14px;
  color: #222;
  letter-spacing: .08rem;
  box-sizing: border-box; }

body {
  margin: 0; }

*, *::after, *::before {
  box-sizing: border-box; }

.container {
  margin: 12% auto;
  width: 200px;
  height: 100vh;
  text-align: center; }
  .container .ttl {
    font-family: 'Righteous', cursive;
    font-size: 26px; }
  .container main {
    margin: 16px auto; }
    .container main .players {
      display: flex;
      margin-bottom: 24px;
      padding: 16px 0;
      font-size: 20px; }
      .container main .players .player {
        padding-bottom: 8px;
        width: 50%; }
        .container main .players .player.active {
          border-bottom: 4px solid #41b7d7; }
    .container main #board table {
      background: #222;
      border: 1px solid #222; }
      .container main #board table tr td {
        position: relative;
        width: 61px;
        height: 61px;
        background: #fff;
        cursor: pointer;
        transition: .5s; }
        .container main #board table tr td:hover {
          background: #95d7e9; }
        .container main #board table tr td.cell {
          font-family: "Font Awesome 5 Free"; }
          .container main #board table tr td.cell.circle:before {
            position: absolute;
            bottom: 18px;
            right: 18px;
            content: '\f111';
            font-size: 22px; }
          .container main #board table tr td.cell.cross:before {
            position: absolute;
            bottom: 7px;
            right: 17px;
            content: '×';
            font-size: 36px; }
  .container .footer .message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 16px;
    color: #6c6c6c; }
    .container .footer .message i {
      margin-right: 4px;
      font-size: 22px; }
    .container .footer .message.result {
      color: sienna; }
  .container .footer .btn {
    display: block;
    padding: 8px 0;
    background: #41b7d7;
    border-radius: 4px;
    color: #fff;
    font-family: 'Righteous', cursive;
    font-size: 16px;
    transition: .5s; }
    .container .footer .btn:hover {
      background: #289dbd;
      cursor: pointer; }
